body {
    font-family: Roboto, sans-serif;
}

#header {
    background-color: #1F2937;
    display: flex;
    flex: 1 30px;
    border-style: none;
    margin: 0;
}

.logo {
    flex-direction: row;
    justify-content: flex-start;
}

.link {
    flex-direction: row;
    justify-content: space-evenly;
}

a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: underline;
}

a:active {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
    text-decoration: underline;
}

a:visited {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
}

#hero {
    background-color: #1F2937;
}

h1.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p.secondary {
    font-size: 18px;
    color: #E5E7EB;
}